@tailwind base;
@tailwind components;
@tailwind utilities;

*,body{
  box-sizing: border-box;
}

.spinner {
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  background: radial-gradient(farthest-side,#474bff 94%,#0000) top/9px 9px no-repeat,
  conic-gradient(#0000 30%,#ededf2);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
  animation: spinner-c7wet2 1s infinite linear;
}

.active{
  color: #474bff;
  background-color: #474bff;
}

@keyframes spinner-c7wet2 {
  100% {
     transform: rotate(1turn);
  }
}

/* @media only screen and (max-width: 1050px) {
  .pagination{
    width: 600px;
  }
} */

/* @media only screen and (max-width: 768px) {
  .pagination{
    width: 300px;
  }
} */

@media only screen and (max-width: 725px) {
  .table-container{
    width: 500px;
  }
  /* .pagination{
    width: 500px;
  } */
}

@media only screen and (max-width: 630px) {
  .table-container{
    width: 400px;
  }
  /* .pagination{
    width: 400px;
  } */
}

@media only screen and (max-width: 650px) {
  /* .sidebar{
    display: none;
  } */
  .menu-btn{
    display: block;
  }
}

/* @media only screen and (max-width: 500px) {
  .table-container{
    width: 300px;
  }
  .paging{
    margin-left: 20px;
    flex: none;
  }
} */

@media only screen and (max-width: 400px) {
  .table-container{
    width: 270px;
  }
}

@media only screen and (max-width: 300px) {
  .table-container{
    width: 230px;
  }
}

/* @media only screen and (max-height: 800px) {
  .app{
    overflow-y: auto;
  }
} */

@media only screen and (min-width: 900px) {
  .all-exam{
    width: auto;
  }
}



/* @media only screen and (max-height: 870px) {
  .all-exam{
    margin-top: 50px;
  }
}

@media only screen and (max-height: 840px) {
  .all-exam{
    margin-top: 80px;
  }
}

@media only screen and (max-height: 770px) {
  .all-exam{
    margin-top: 120px;
  }
}

@media only screen and (max-height: 690px) {
  .all-exam{
    margin-top: 150px;
  }
}

@media only screen and (max-height: 630px) {
  .all-exam{
    margin-top: 180px;
  }
}

@media only screen and (max-height: 580px) {
  .all-exam{
    margin-top: 200px;
  }
}

@media only screen and (max-height: 540px) {
  .all-exam{
    margin-top: 250px;
  }
}

@media only screen and (max-height: 430px) {
  .all-exam{
    margin-top: 300px;
  }
} */

.show-menu{
  display: block;
}

.hide-menu{
  display: none;
}

